.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

@media (min-width: 768px) {
    .thumbnail img {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
}